[submodule "Code/Midi/Libs/tinyosc"]
	path = Code/Midi/Libs/tinyosc
	url = https://github.com/draguve/tinyosc.git
[submodule "Code/Midi/Libs/pico-ads1115"]
	path = Code/Midi/Libs/pico-ads1115
	url = https://github.com/antgon/pico-ads1115.git
